fastapi==0.100.1
orjson==3.9.10
pydantic==2.5.2
uvicorn==0.12.2
gunicorn==21.2.0
pydantic-settings==2.1.0
werkzeug==3.0.1
async-fastapi-jwt-auth==0.6.2
aiokafka==0.10.0
python-jose[cryptography]==3.3.0